@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #D3D3D3;
}

body {
    background-color: #383737;
    overflow-x: hidden;
}

h2 {
    font-size: 48px;
}
h3, h4 {
    font-weight: 400;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    background-color: #707070;
}

.container {
    padding: 80px 16px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

option {
    color: #1F1F1F;
}


/* HEADER */

header {
    background-color: #1F1F1F; 
}
header::after {
    content: "";
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, #1F1F1F, #383737);
    display: block;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav__container {
    padding: 16px 0;
}

.logo__wrapper {
    width: 20%; 
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    color: #D3D3D3;
    font-size: 24px;
    transition: all 500ms ease;
}

.nav__link:hover {
    color: #ececec;
    transform: scale(1.07);
}

.nav__link--wrapper {
    margin-right: 24px;
}

.search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.search__bar {
    position: relative;
    width: 80%;
}

.search__field {
    width: 100%;
    position: absolute;
    height: 80px;
    border-radius: 80px;
    font-size: 28px;
    color: #000;
    padding-left: 5%;
}

.search__field::placeholder {
    text-align: left;
    color: rgb(191, 176, 176);
}

.fa-search::before {
    font-size: 48px;
    color: #000;
    position: absolute;
    right: 5%;
    background-color: #fff;
}

/* MOVIES */

.filter__wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 32px;
    padding-right: 16px;
}


#movies {
    background-color: #383737;
}

#filter {
    width: 15%;
    min-width: 120px;
    border-radius: 8px;
    height: 32px;
    color: #1F1F1F;
}

.movie__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.movie__wrapper {
    width:  25%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 24px;
    cursor: no-drop;
}

.movie__title {
    font-size: 28px;
    text-align: center;
}

.movie__img--wrapper {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    transition: 300ms all ease;
}

.movie__img {
    aspect-ratio: 2/3;
}

.movie__img--wrapper:hover {
    transform: scale(1.03);
}

/* .movies__loading .movie__list{
    display: none;
} */
.books__loading--spinner {
    font-size: 80px;
    color: #D3D3D3;
    animation: rotate 800ms linear infinite;
}

.movies__loading .spinner__wrapper {
    display: block;
}

.movies__loading .movie__list{
    display: none;
}

.movies__loading.filter__wrapper  {
    visibility: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner__wrapper{
    display: none;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}


/* FOOTER */

footer {
    min-height: 30vh;
    background-color: #1F1F1F;
}

footer::before {
    content: "";
    background: linear-gradient(to top, #1F1F1F, #383737);
    height: 160px;
    width: 100%;
    display: block;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-top: 24px;
}





